# Just once
#cd path/to/pointspy
#virtualenv venv --python=python2.7
#. venv/bin/activate
#pip install numpy
#pip install gdal==\`gdal-config --version\` --global-option=build_ext --global-option="-I/usr/include/gdal" 

#sudo apt install gdal-bin
#sudo apt install libgdal-dev libgdal1h
#sudo apt install libspatialindex-dev

# run with:
# pip install --global-option=build_ext --global-option="-I/usr/include/gdal" -r requirements.txt
numpy
rtree
liblas
laspy
scipy
scikit-learn
pyproj
affine
dill
#gdal
#pygdal==1.11.3.3
gdal
pandas
configobj
pyyaml
psycopg2-binary
Sphinx
sphinxcontrib-napoleon
autopep8
pycodestyle

# Finally
#python setup.py install pointspy

#python2.7.12
#apt install python-gdal
#libgdal-dev>=1.11.3
#libspatialindex-dev (for rtree)
